<div class="row">
  <div class="col-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12">
    <a href="#" class="list-group-item my-4 card" *ngFor="let recipe of recipes">
      <div class="d-flex align-items-start">
        <div class="me-3">
          <h4 class="list-group-item-heading">{{recipe.name}}</h4>
          <p class="list-group-item-text">{{recipe.description}}</p>
        </div>
        <div class="ms-auto">
          <img src="{{recipe.imagePath}}" alt="{{recipe.name}}" class="img-fluid" style="max-height: 50px;">
        </div>
      </div>
    </a>
  </div>
</div>
